<div class="project">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info text-light">
        <a class="navbar-brand mr-5" routerLink="Student-Data-Manager">Student Data Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" routerLink="student">student list</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="search-student">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="add-student">add student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="exam-list">exam</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="marks-page">marks</a>
                </li>


            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>

</div>
